<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-item-center">
                    {{title}} <a href="/notes/edit/{{id}}"> <i class="fas fa-edit"></i></a>
                </h4>
                <p>{{descripcion}}</p>
              <form action="/notes/delete/{{_id}}?_method=Delete" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">Borrar</button>
              </form>
            </div>
        </div>
    </div>
    
    
    {{else}}
    <div class="card mx-auto"></div>
        <div class="card-body">
            <p style="color: white" class="lead"> Sin notas aún</p>
            <a href='/notes/add' class="btn btn-primary btn-block btn-sm"> Crear</a>
        </div>
    {{/each}}
</div>

<a href='/notes/add'><i class="fas fa-plus"></i></a>